.form-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom,#1C5D99, rgb(0, 39, 65));
  padding-bottom: 20px;
  .ftitle{
    font-family: 'Monoton', cursive;
    font-size: 24px;
  }
  ul{
    list-style: circle;
    font-size: 12px;
    color: red;
  }
  label{
    display: flex;
    flex-direction: column;
    font-family: 'Monoton', cursive;
    font-size: 16px;
    margin: 10px 0;
    input{
      background-image: linear-gradient(to right,rgb(121, 228, 255), rgb(255, 255, 255));
      color: black;
      border: solid white;
      border-radius: 5px;
      font-family: 'Roboto Slab', serif;
      padding: 10px;
      transition: ease 1s;
      &:focus{
        border-color: gray;
        color: black;
        background-image: linear-gradient(to left,rgb(121, 228, 255), rgb(255, 255, 255))
      }
    }
    select{
      background-image: linear-gradient(to right,rgb(121, 228, 255), rgb(255, 255, 255));
      color: black;
      border: solid white;
      border-radius: 5px;
      font-family: 'Roboto Slab', serif;
      padding: 10px;
      transition: ease 1s;
      #default{
        font-size: 16px;
        color: grey;
      }
      &:focus{
        border-color: gray;
        color: black;
        background-image: linear-gradient(to left,rgb(121, 228, 255), rgb(255, 255, 255))
      }
    }
    textarea{
      background-image: linear-gradient(to right,rgb(121, 228, 255), rgb(255, 255, 255));
      color: black;
      height: 50px;
      border: solid white;
      border-radius: 5px;
      font-family: 'Roboto Slab', serif;
      padding: 10px;
      resize: none;
      transition: ease 1s;
      &:focus{
        border-color: gray;
        color: black;
        background-image: linear-gradient(to left,rgb(121, 228, 255), rgb(255, 255, 255))
      }
    }
  }
  .file-input{
    display: block;
    margin: 20px auto;
    padding-left: 70px;
  }
  .submit-button{
    position: relative;
    margin: 10px auto 0;
    display: block;
    font-family: 'Monoton', cursive;
    font-size: 16px;
    border: solid white;
    border-radius: 100px;
    padding: 5px 15px;
    transition: ease 0.9s;
    &:hover, &:active{
      background-color: white;
      color: black;
      transform: scale(1.2);
    }
  }
  // https://dev.to/dcodeyt/create-a-button-with-a-loading-spinner-in-html-css-1c0h
  .button-loading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-left: 16px solid white;
    border-bottom: 16px solid transparent;
    
    animation: loading-animation 1s ease infinite;
  }
    @keyframes loading-animation {
      from {
          transform: translateX(5px);
      }
      to {
          transform: translateX(130px);
          opacity: 25%;
      }
  }

  .del-drink {
    margin: 10px auto 0;
    display: inline-block;
    font-family: 'Monoton', cursive;
    font-size: 14px;
    border: solid white;
    border-radius: 100px;
    padding: 5px 15px;
    transition: ease 0.9s;
    &:hover, &:active{
      background-color: red;
      color: white;
      transform: scale(1.1);
    }
  }

}

.disabled {
  color: rgb(152, 152, 152);
}