/* SECTIONS  */

.Drink-Container {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 90%, rgba(221,221,221,1) 100%);
    border: 0.04rem solid #aaaaaa;
    border-radius: 0px;}

    
.drink-show-main { 
    width: 100vw;
    height: 550px;
    display: flex;
}

.show-buttons-container {
    display: flex;
    align-items: flex-start;
}

.show-info-container {
    background: linear-gradient(90deg, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 95%);
    height: inherit;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.Drink-Container:hover {
   opacity: .9;
}





.Drink-Name {
    background-color: white;
    padding: 10px;
    color: black;
    font-weight: 700;
    font-size: 0.9rem;
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    padding-right: 15px;
}

.Drink-Name a {
 
    color: black;
    text-decoration: none;
    
}

.Drink-Name a:hover {
    opacity: 0.5;
    cursor: pointer;
}



.Drink-Pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 400px; 
    overflow: hidden;
    object-fit: cover;
    border: 1px solid black;
    background-color: black;
    cursor: pointer;
}