.discover-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: linear-gradient(to bottom, rgba(28,93,153,1) 0%, #0e7e82 50%, rgba(0,39,65,1) 100%);
    .discover-rows-container{
        ul{
            padding: 20px 10% 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            li{
                margin: 20px;
                img{
                    border: solid 5px white;
                    border-radius: 5px;
                    height: 250px;
                    width: 250px;
                }
            }
        }
    }
}

