.form-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom,#1C5D99, rgb(0, 39, 65));
  padding-bottom: 20px;
  .rtitle{
    font-family: 'Monoton', cursive;
    font-size: 24px;
  }
  ul{
    list-style: circle;
    font-size: 12px;
    color: red;
  }
  label{
    display: flex;
    flex-direction: column;
    font-family: 'Monoton', cursive;
    font-size: 16px;
    margin: 10px 0;
    input{
      background-image: linear-gradient(to right,rgb(121, 228, 255), rgb(255, 255, 255));
      color: black;
      border: solid white;
      border-radius: 5px;
      font-family: 'Roboto Slab', serif;
      padding: 10px;
      transition: ease 1s;
      &:focus{
        border-color: gray;
        color: black;
        background-image: linear-gradient(to left,rgb(121, 228, 255), rgb(255, 255, 255))
      }
    }
    select{
      background-image: linear-gradient(to right,rgb(121, 228, 255), rgb(255, 255, 255));
      color: black;
      border: solid white;
      border-radius: 5px;
      font-family: 'Roboto Slab', serif;
      padding: 10px;
      transition: ease 1s;
      #default{
        font-size: 16px;
        color: grey;
      }
      &:focus{
        border-color: gray;
        color: black;
        background-image: linear-gradient(to left,rgb(121, 228, 255), rgb(255, 255, 255))
      }
    }
    textarea{
      background-image: linear-gradient(to right,rgb(121, 228, 255), rgb(255, 255, 255));
      color: black;
      height: 100px;
      width: 500px;
      border: solid white;
      border-radius: 5px;
      font-family: 'Roboto Slab', serif;
      padding: 10px;
      resize: none;
      transition: ease 1s;
      &:focus{
        border-color: gray;
        color: black;
        background-image: linear-gradient(to left,rgb(121, 228, 255), rgb(255, 255, 255))
      }
    }
  }
  .star{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    &:not(:checked) > input {
      position:absolute;
      top:-9999px;
    }
    &:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    &:not(:checked) > label:before {
        content: '★ ';
    }
    input:checked ~ label {
        color: #ffc700;    
    }
    &:not(:checked) > label:hover,
    &:not(:checked) > label:hover ~ label {
        color: #deb217;  
    }
    input:checked + label:hover,
    input:checked + label:hover ~ label,
    input:checked ~ label:hover,
    input:checked ~ label:hover ~ label,
    label:hover ~ input:checked ~ label {
        color: #c59b08;
    }
  }

  .submit-button{
    margin: 10px auto 0;
    display: block;
    font-family: 'Monoton', cursive;
    font-size: 16px;
    border: solid white;
    border-radius: 100px;
    padding: 5px 15px;
    transition: ease 0.9s;
    &:hover, &:active{
      background-color: white;
      color: black;
      transform: scale(1.2);
    }
  }

  .del-rev{
    margin: 0;
    display: block;
    font-family: 'Monoton', cursive;
    font-size: 16px;
    border: solid white;
    border-radius: 100px;
    padding: 5px 15px;
    transition: ease 0.9s;
    &:hover, &:active{
      background-color: red;
      transform: scale(1.2);
    }
  }
}
